# Entorno virtual
.venv/
env/
__pycache__/
*.pyc

# Archivos temporales
*.log
*.bak
*.tmp
.DS_Store

# Archivos de configuración del sistema
.idea/
.vscode/

# Base de datos vectorial
chroma/

# Datos y documentos
data/*

# Archivos generados
*.pdf
*.zip

# Token de autenticación
*.env
.env
