# Entorno virtual
.venv/
env/
__pycache__/
*.pyc

# Archivos temporales
*.log
*.bak
*.tmp
.DS_Store
.gradio/

# Archivos de configuración del sistema
.idea/
.vscode/

# Base de datos vectorial
chrome_langchain_db/

# Datos y documentos
data/*
processed_docs.json

# Archivos generados
*.pdf
*.zip

# Token de autenticación
*.env
.env
